<body>
  <div class="org-title">
    <h1><%= @organisation.name.to_s %></h1>
  </div>
</body>


<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %> |
<%= link_to 'Events', organisation_events_path(@organisation) %>
